/EYAZIS/.idea/
/EYAZIS/venv/
/EYAZIS/lab1(search_system)/__pycache__/


/EYAZIS/lab2(language_detection)/__pycache__/
/EYAZIS/lab2(language_detection)/results/
/EYAZIS/lab2(language_detection)/uploads/

/EYAZIS/lab2(language_detection)/trained_model.pth
/EYAZIS/lab2(language_detection)/vocabulary.pkl
/EYAZIS/lab2(language_detection)/history.json